*{
	font-family: 'Ubuntu', sans-serif;
	border:1px solid black;
}


.banner{
	display:flex;
	background-color: #815355;
	height:13%;
	justify-content:center;
	color:#ffffff;
}

.auxiliary-function{
	display:flex;
	justify-content:flex-end;
	padding-right: 5%
}

nav{
	margin-top: 1%;
	display:flex;
	justify-content: center;
}


a{
	margin-left: 1em;
	color:black;
}

body{
	margin:0;
	padding:0;
}

h1{
	color: #696969;
	text-align: center;
	font-weight:lighter;
}

h2{
	text-align: center
}


.headerimg{
	display:flex;
	justify-content:center;
	margin-top: 3%;
}

.headerimg img{
	width:52%;
}

.bestseller{
	margin-top: 2%
}

.bestseller h2{
	display:flex;
	justify-content:center;
}

.bestseller div{
	display:flex;
	justify-content:space-between;
}


.bestseller img{
	width:25%;
	margin-top: 2%
}

.specialevent{
	margin-top: 2%
}

.specialevent div{
	display:flex;
	justify-content:space-around;
}

.specialevent h2{
	display:flex;
	justify-content:center;
}

.specialevent img{
	width:35%;
	margin-top: 2%
}

.bottom{
	display:flex;
	justify-content: space-around;
	margin-top: 5%
}


.showingimg{
	display:flex;
	justify-content:center;
	margin-top: 3%;
	position: relative;
	text-align: center;
	color: white;
	font-size: 18px;
}
.showingimg img{
	width:52%;
	/*height:60%;*/
}

.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showingimg .btn {
	margin-top:3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color:#b8b894;
	color: white;
	font-size: 18px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius:0.25em;
}

.showingimg .btn:hover {
	background-color:#dee3ca;
}

.category{
	text-align: center;
}

#category-img{
	display:flex;
	margin-top:3rem;
}

#category-img img{
	width:100%;
	height:100%;

}
h3{
	font-size:25px;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 0.8rem;
	font-weight: lighter;
}
.model1,.model2,.model3,.model4{
	margin-left:0.6rem;
	margin-right:0.6rem;
	position: relative;
	text-align: center;
	color: white;
	font-size: 15px;
}

.c1-text,.c2-text,.c3-text,.c4-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*about page css start*/

.header-of-about{
	display: flex;
}

.header-of-about img{
	height:70vw;
	width:100%;
	margin-top:2%;
}

.ethos{
	margin-top: 2%;
	display:flex;
	justify-content: space-evenly;
}

.ethos img{

	width:30%;
	height:30%;
}

.ethos p{
	display:flex;
	flex-direction: column;
	align-content:center;
	width:30%;
}

.store-location{
	margin-top: 3%;
	background-color: #C3B299;
	display:flex;
	justify-content: space-around;
}

.store-location img{
	width:50%;
}

.burnaby,.vancouver,.richmond{
	width:33%;
	text-align:center;
}
/*about page css end*/

/*items list css start*/
.items-container{
	display:flex;
	justify-content: space-around;
}

.items-container img{
width:90%;
  margin:1% 5%;
}

.items-container p{
text-align: center;
}

.items-left,.items-middle,.items-right{
  padding:1% 2%;
}
/*items list css end*/

/*cart css start*/
.cart-container{
	display:flex;
	justify-content: space-around;
	margin-top: 3%
}

.cart-item img{
	width: 60%;

}

.cart-item{
	display: flex;
	justify-content: center;
	flex-direction: column;
    width:40%;
    margin-left:5%;
}

.btn-cart{
	display:flex;
	justify-content: space-between;
	 width:60%;
	 margin-top: 2%
}

.btn-cart button{
	background-color:#DBEBC0;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 5px;
	padding: 1% 2%;
}

.item-description{
	display:flex;
	flex-direction: column;
	width:40%;
}

.item-description button{
	border-radius: 5px;
	background-color:rgb(219,235, 192,5);
	padding:2% 3%;
	margin-top: 8%
}

.page-divider{
border: 0.5px solid  #C0C0C0;
}
/*cart css end*/

/*event css start*/
.event{
	display:flex;
	margin-top: 2%
}

.event img{
	width:50%;
	position: relative;
}

.event p{

}
/*event css end*/

/*contact css start*/
.contact-text{
	display:flex;
	flex-direction: column;
	margin-top:2%;

}
.contact-text p{
	font-weight: 0.1pt;
	display:flex;
    justify-content: center;?
}
/*contact css end*/

/*activities css start*/
.activities-content{
	display:flex;
	flex-direction: column;
	justify-content: center;?
}

.activities-content img{
 width:45%;
}
/*activities css end*/

/*Login css*/
form {
  border: 1px solid black;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button{
  border-radius: 4px;
  background-color: #b8b894;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.cancelbtn {
   border-radius: 4px;
  background-color:#815355;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
}

.cancelbtn:hover, .cancelbtn:focus {
  opacity: 0.7;
}

.id-icon {
  text-align: center;
  margin: 24px 0 12px 0;

}

img.id {
  width: 30%;
  border-radius: 50%;
}

.main-part {
  padding: 30px;
  justify-content: center;
}

span.password {
  float: right;
  padding-top: 16px;
}

span.password a{
  color:#3a80e8;
  text-decoration:none;
}

span.password a:hover{
  color:#87a7d6;
}

@media screen and (max-width: 300px) {
  span.password {
     display: block;
     float: none;
  }

  @media screen and (max-width: 800px) {
  }
  .cancelbtn {
     width: 100%;
  }
  /*Login css end*/